* {
    background-color: rgb(239, 176, 0);
}

/* Funciona também com 

tag qualquer {

  background-color: blue;

}



.nome_de_classe {

   background-color: blue;
}





#nome_de_id {

  background-color: blue;
}